<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="school_student_management_system.Properties.Settings.Student_sysConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS04;Initial Catalog=&quot;Student sys&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
		<add name="con"
			 connectionString="Data Source=localhost\SQLEXPRESS04;Initial Catalog=&quot;Student sys&quot;;Integrated Security=True;TrustServerCertificate=True"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>